# Environment File (API keys and sensitive data)
.env

# Vosk Model 
models

# Python Cache and Bytecode
__pycache__
tempCodeRunnerFile.py

# Incomplete Files
audio_visualizer.py

# User Dependent Files
shortcut_index.csv 

# Extension Files
.vscode/settings.json

ml_data